<mat-nav-list>
    <div class="profile-card">
        <div class="header"> 
            <h2>Teke Rene</h2>
            <h4>example teke @gmail.com</h4>
        </div> 
        <img src="../../../../assets/images/rene.jpg" alt="">
</div>
<mat-divider></mat-divider>
<h2 mat-Subheader>Pages</h2>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

<mat-divider></mat-divider>

another menu
</mat-nav-list>