<div>
   <app-widgets-area></app-widgets-area>
</div>

<br>

<mat-divider></mat-divider>

<br>
    <div class="col-sm-12">
    <mat-card class="row">
     <mat-card class="one">
         <app-widgets-card></app-widgets-card>
        </mat-card>
     <mat-card class="one">
          <app-widgets-card></app-widgets-card> 
    </mat-card>
     <mat-card class="one"> 
         <app-widgets-card></app-widgets-card> 
        </mat-card>
     <mat-card class="one">
         <app-widgets-card></app-widgets-card>
        </mat-card>
    </mat-card>
  </div>


<br>

<mat-divider></mat-divider>

<br>

<div>
    <div>pie chart</div>
    <div>table</div>
</div>